@using ReportUnit.Model
@inherits RazorEngine.Templating.TemplateBase<Report>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ReportUnit</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://git.illumina.com/ralgarra/reportunit/cdn/reportunit.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
        <script type="text/javascript" src="https://git.illumina.com/ralgarra/reportunit/cdn/reportunit.js"></script>
    </head>
    <body>
        <div class="main">
            <div class="row">
                <div class="col l3 dashboard">
                    <div class="card-panel">
                        <div class="card-title"><b>Test analysis</b></div>
                        <div class="card-content analysis">
                            <canvas id="test-analysis"></canvas>
                            <div id="legend"></div>
                        </div>
                    </div>
                </div>
                <div class="col l3 dashboard">
                    <div class="card-panel">
                        <div class="card-title"><b>Pass percentage</b></div>
                        <div class="card-content statistics">
                            <div class="panel-lead">
                                <div class="pass-percentage"></div>
                                <div class="stats">
                                    <div id="tests-passed"></div>
                                    <div id="total-tests"></div>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="determinate"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l6 dashboard">
                    <div class="card-panel horizontal">
                        <div class="card-title"><b>Run info</b></div>
                        <div class="card-content run-info">
                            <table class="striped">
                                <tr>
                                    <td><b>Test results file</b></td>
                                    <td>@Model.RunInfo["Test results file"]</td>
                                </tr>
                                <tr>
                                    <td><b>Assembly name</b></td>
                                    <td>@Model.RunInfo["Assembly name"]</td>
                                </tr>
                                <tr>
                                    <td><b>Test framework</b></td>
                                    <td><span style="margin-right:10px">@Model.RunInfo["Test framework"].Split()[0]</span>@Model.RunInfo["Test framework"].Split()[1]</td>
                                </tr>
                                <tr>
                                    <td><b>Finished</b></td>
                                    <td><span style="margin-right:10px">@Model.RunInfo["Run date"]</span>@Model.RunInfo["Run time"]</td>
                                </tr>
                                <tr>
                                    <td><b>Time</b></td>
                                    <td>@Model.Duration s</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">                   
                <div class="col l2">
                    <div class="card-panel">
                        <div class="card-title"><b>Filters</b></div>
                        <div class="card-content filters">
                            <div class="status-filter">
                                <h7><b>Status</b></h7>
                                <div class="input-field col l12">
                                    <select id="status-select">
                                        <option value="" disabled selected>Choose Status</option>
                                        <option value="0">All Status</option>
                                    </select>
                                </div>
                            </div>
                            <div class="collection-filter">
                                <h7><b>Collections</b></h7>
                                <div class="input-field col l12">
                                    <select id="collection-select">
                                        <option value="" disabled selected>Choose Collection</option>
                                        <option value="0">All Collections</option>
                                    </select>
                                </div>
                            </div>
                            <div class="trait-filter">
                                <h7><b>Traits</b></h7>
                                <div class="input-field col l12">
                                    <select id="trait-select">
                                        <option value="" disabled selected>Choose Trait</option>
                                        <option value="0">All Traits</option>
                                    </select>
                                </div>
                            </div>
                            <div id="clear-filters" class="waves-effect waves-light btn red lighten-2">Clear</div>
                        </div>
                    </div>
                </div>
                <div class="col l10">
                    <div class="card-panel">
                        <div class="card-title"><b>Test Summary</b></div>
                        <div class="card-content">
                            <ul id="test-list" class="collapsible">
                                @foreach (TestSuite suite in Model.TestSuiteList)
                                {
                                    foreach (Test test in suite.TestList)
                                    {
                                        <li class="test">
                                            <div class="collapsible-header test-name @test.Status.ToString().ToLower()">
                                                <i class="material-icons">expand_more</i>
                                                @test.Name
                                                @{
                                                    string color = "grey";
                                                    switch (test.Status)
                                                    {
                                                        case Status.Passed:
                                                            color = "green";
                                                            break;
                                                        case Status.Failed:
                                                            color = "red";
                                                            break;
                                                        case Status.Skipped:
                                                            color = "blue";
                                                            break;
                                                    }
                                                    <span class="new badge @color" data-badge-caption="@test.Status"></span>
                                                }
                                            </div>
                                            <div class="collapsible-body">
                                                <table class="striped">
                                                    <tr class="collection-name">
                                                        <td><b>Collection name</b></td>
                                                        <td>@suite.Name</td>
                                                    </tr>
                                                    <tr class="trait-name">
                                                        <td><b>Traits</b></td>
                                                        @{
                                                            string traits = "";
                                                            if (test.CategoryList.Count > 0)
                                                            {
                                                                for (int i = 0; i < test.CategoryList.Count; i++)
                                                                {
                                                                    traits += test.CategoryList[i];
                                                                    if (i != test.CategoryList.Count - 1)
                                                                    {
                                                                        traits += ";";
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                traits = "No traits found";
                                                            }
                                                            <td>@traits</td>
                                                        }
                                                    </tr>
                                                    <tr>
                                                        <td><b>Duration</b></td>
                                                        <td>@test.Duration s</td>
                                                    </tr>
                                                </table>
                                                <p><b>Message</b></p>
                                                <p>@test.StatusMessage</p>
                                                <p>STACK TRACE</p>
                                                <p>@test.StackTrace</p>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>